$font-family: 'Spartan',
sans-serif;
//Tema Uno
$background :#3a4764;
$background-number:  #efefef;
$background-igual: #d03f2f;
$background-igual-shadow: #93261a;
$background-display:#182034;
$background-reset-delete: #647299;
$font-color-light: #ffffff;
$font-color-dark: #000000;
$background-shadow-theme1:#b4a597;
$background-shadow-container-button-theme1:#404e72;
$background-container-button-theme1:#232c43;


//Tema Dos

$background-theme2:#e6e6e6 ;
$background-number-theme2: #e5e4e0;
$background-display-theme2:#eeeeee;
$background-reset-delete-theme2:#377f86;
$background-shadow-theme2:#1b5f65;
$background-igual-theme2:#ca5502;
$background-igual-shadow-theme2:#8a3900;
$background-container-button-theme2: #d5ccce;
$background-shadow-container-button-theme2:#a69d91;
$font-color-dark-theme2:#35352c;


//Tema Tres

$background-theme3: #160628;
$background-number-theme3: #321b4b;
$background-display-theme3:#1d0934;
$background-reset-delete-theme3: #58077d;
$background-shadow-theme3:#78278f;
$background-igual-theme3:#00e0d1;
$background-igual-shadow-theme3:#72f8f3;
$background-container-button-theme3: #1d0934;
$background-shadow-container-button-theme3:#b717ee;
$font-color-dark-theme3:#ffe53d;
$font-color-dark-theme3-blue:#1b2428;